.profile__info {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 24px);
  grid-gap: 16px 18px;
  max-width: 336px;
  margin-left: 30px;
}

@media (max-width: 760px) {
  .profile__info {
    margin: auto;
    grid-gap: 14px;
  }
}

@media (max-width: 475px) {
  .profile__info {
    margin: auto;
    max-width: 282px;
    grid-gap: 0;
  }
}
