#root {
    font-family: 'Inter', Arial, sans-serif;
    background: black;
    font-weight: normal;
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    }